.dateSelector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.7rem 0.3rem;
    border-block: 0.1rem solid var(--main-color);
}

.mobileDay {
    display: none;
}

.date {
    width: 1.75rem;
    text-align: center;
    font-size: 0.8rem;
    cursor: default;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.hasPerformance {
    border: 0.08rem solid var(--main-color);
    cursor: pointer;
}

.selectedDate {
    color: var(--color-white);
    background-color: var(--main-color);
}

.sunday {
    color: var(--crimson-text-color);
}

/* mobile, tablet responsive */
@media (max-width: 1280px) {
    .dateSelector {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        width: 100%;
        gap: 1rem;
    }

    .mobileDay {
        display: block;
        margin-bottom: 1rem;
    }

    .day {
        display: none;
    }
}