.yearMonthSelector {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 2rem;
}

.yearSelector,
.monthSelector {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
}