.landingSlideInner {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 3rem;
    z-index: 1;
    color: var(--color-white);
}

.landingSlideTitle {
    display: flex;
    font-size: 1.5rem;
}

.landingSlideTitle h2 {
    font-family: "Nanum Myeongjo", serif;
    color: var(--color-white);
    text-shadow: var(--text-shadow-gold);
}

.landingSlideFirstWord {
    font-family: "Nanum Myeongjo", serif;
    color: var(--main-color);
    font-size: 5rem;
}

.landingSlideButton {
    position: relative;
    width: fit-content;
    padding: 0.75rem 1.5rem;
    border: 0.1rem solid var(--color-white);
    color: var(--color-white);
    transition: 0.4s ease-in-out;
}

.landingSlideButton:hover {
    background-color: var(--main-color);
}

.quote:nth-of-type(2) {
    align-self: flex-end;
}

@media (max-width: 768px) {
    .landingSlideTitle h2 {
        font-size: 2rem;
    }

    .landingSlideFirst-word {
        font-size: 3rem;
    }

    .quote {
        font-size: 1rem;
    }

    .landingSlideButton {
        transform: scale(0.7);
    }
}