.nav {
    display: flex;
    height: 100%;
}

.listWrap {
    display: flex;
    align-items: center;
    position: relative;
    padding-inline: 3em;
    height: 100%;
}

.main {
    cursor: default;
    color: var(--main-color);
}

.mainHovered {
    color: var(--sub-color);
}

.chevron {
    display: none;
}

.list {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    border-top: .3rem solid var(--main-color);
    background-color: white;
}

.navScrolled .listWrap .list {
    background-color: var(--color-neutral);
}

.sub {
    display: flex;
    padding: 1.25em;
    color: var(--color-neutral);
    font-size: 0.8rem;
}

.navScrolled .sub {
    color: var(--color-white);
}

.sub:hover {
    color: var(--main-color);
}