.headingWrap {
    width: 90%;
    max-width: 1280px;
}

.headingWrap h2 {
    position: relative;
    font-size: 4rem;
    font-weight: 600;
}

.headingWrap h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.1rem;
    width: 648px;
    height: .2rem;
    background-color: var(--color-neutral);
}

/* mobile responsive */
@media (max-width: 768px) {
    .headingWrap {
        max-width: 648px;
        text-align: center;
    }

    .headingWrap h2::after {
        width: 100%;
    }
}