.teamsWrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-block: 5rem;
}

.teamCardsWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "a a o"
    "a a d"
    "v y g";
    margin-top: 8rem;
    gap: .5rem;
    width: 100%;
    max-width: 1280px;
}

.arthall {
    grid-area: a;
}
.orchestra {
    grid-area: o;
}
.dance {
    grid-area: d;
}
.vocal {
    grid-area: v;
}
.youthVocal {
    grid-area: y;
}
.gukak {
    grid-area: g;
}

/* Mobile layout */
@media (max-width: 768px) {
    .teamCardsWrap {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "a a"
        "o d"
        "v y"
        "g g";
        max-width: 648px;
    }

    .arthall,
    .gukak {
        aspect-ratio: 2 / 1;
    }
}
