.teamsWrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-block: 5rem;
}

.teamCardsWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "a a o"
    "a a d"
    "v y g";
    margin-top: 8rem;
    gap: .5rem;
    width: 90%;
    max-width: 1280px;
    opacity: 0;
}

.arthall {
    grid-area: a;
}
.orchestra {
    grid-area: o;
}
.dance {
    grid-area: d;
}
.vocal {
    grid-area: v;
}
.youthVocal {
    grid-area: y;
}
.gukak {
    grid-area: g;
}

.animate {
    opacity: 1;
}

.animate > * {
    opacity: 0;
    transform: translateY(50px);
    animation: cardSlideUp 0.6s ease forwards;
}

.animate > *:nth-child(1) { animation-delay: 0.2s; }
.animate > *:nth-child(2) { animation-delay: 0.4s; }
.animate > *:nth-child(3) { animation-delay: 0.6s; }
.animate > *:nth-child(4) { animation-delay: 0.8s; }
.animate > *:nth-child(5) { animation-delay: 1s; }
.animate > *:nth-child(6) { animation-delay: 1.2s; }

/* Mobile layout */
@media (max-width: 768px) {
    .teamCardsWrap {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "a a"
        "o d"
        "v y"
        "g g";
        max-width: 648px;
    }

    .arthall,
    .gukak {
        aspect-ratio: 2 / 1;
    }
}

/* keyframe */
@keyframes cardSlideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}