.teamsWrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-block: 5rem;
}

.teamCardsWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "a a o"
    "a a d"
    "v y g";
    gap: .5rem;
    width: 100%;
    max-width: 1280px;
    margin-top: 5rem;
}

.arthall {
    grid-area: a;
}
.orchestra {
    grid-area: o;
}
.dance {
    grid-area: d;
}
.vocal {
    grid-area: v;
}
.youthVocal {
    grid-area: y;
}
.gukak {
    grid-area: g;
}

.teamCard {
    display: flex;
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.teamTextContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    color: var(--color-white);
    background-color: var(--main-color);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.teamTextContainer:hover {
    opacity: 1;
}

.teamTextContainer h3 {
    font-size: 1.5rem;
}

.teamTextContainer p {
    text-align: center;
    color: var(--color-white);
}

.teamLink {
    display: inline-block;
    position: relative;
    color: var(--color-white);
}

.teamLink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1rem;
    bottom: -.1rem;
    left: 0;
    background-color: var(--color-white);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.teamLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* mobile responsive */
@media (max-width: 768px) {

}
