:root {
    --main-color: #B7965C;
    --sub-color: #F5EFE6;
    --color-neutral: #2C2C2C;
    --color-white: #fff;
    --muted-text-color: #A49587;
    --linear-background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
    --text-shadow-gold:
        1px 1px 2px rgba(0, 0, 0, 0.7),
        0 0 8px rgba(183, 150, 92, 0.5);
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh; /* avoid layout shifts */
    font-family: "Noto Sans KR", "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-neutral);
    background-color: var(--color-white);
    scroll-behavior: smooth;
}

:lang(ko) {
    font-family: "Noto Sans KR", sans-serif;
}

:lang(en) {
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--color-neutral);
    text-decoration: none;
}

h2 {
    font-size: 3rem;
}