footer {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.footerInner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-block: 5em 9em;
    border-top: 0.1rem solid var(--main-color);
    flex-basis: 1280px;
}

.logoWrap {
    display: flex;
    align-items: center;
    gap: .5em;
}

.logo {
    width: 3rem;
    height: 3rem;
}

.logoHeader {
    color: var(--main-color);
    font-size: 1rem;
}

.footerTextWrap {
    font-size: 0.8rem;
}

.policyWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.detailsWrap {
    display: flex;
    flex-flow: column;
    color: var(--muted-text-color);
}

.socials {
    display: flex;
    margin-top: 1em;
    gap: .5em;
}

.social {
    font-size: 1.5rem;
    color: var(--main-color);
}

.social:hover {
    color: var(--sub-color);
}

/* mobile-responsive */
@media (max-width: 768px) {
    .footerInner {
        flex-flow: column;
        align-items: center;
        flex-basis: 648px;
        gap: 4em;
        padding-block: 5em;
    }

    .policyWrap {
        margin-bottom: 2em;
    }

    .socials {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 2em;
    }
}
